<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<h1 class="h3">Browse Flights</h1>
<div *ngIf="data">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <button class="page-link" type="button" (click)="first()" [disabled]="data.first">First</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="previous()" [disabled]="data.first">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" disabled>{{data.number + 1}}</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="next()" [disabled]="data.last">Next</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="last()" [disabled]="data.last">Last</button>
            </li>
        </ul>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><i class="fa-solid fa-hashtag"></i> Id</th>
                <th scope="col"><i class="fa-solid fa-table"></i> Flight Number</th>
                <th scope="col"><i class="fa-solid fa-location-dot"></i> Destination</th>
                <th scope="col"><i class="fa-solid fa-calendar-days"></i> Scheduled At</th>
                <th scope="col"><i class="fa-regular fa-clock"></i> Estimated At</th>
                <th scope="col"><i class="fa-solid fa-link"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of data.content">
                <th scope="row">{{flight.id}}</th>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.destination}}</td>
                <td>{{webService.formatDate(flight.scheduledAt)}}</td>
                <td>{{webService.formatDate(flight.estimatedAt)}}</td>
                <td>
                    <div class="btn-group">
                        <a routerLink="/flight/{{flight.id}}" class="btn btn-sm btn-primary btn-table">
                            <i class="fa-solid fa-up-right-from-square"></i> Details
                        </a>
                        <button type="button" class="btn btn-sm btn-success btn-table" (click)="doAddToCart(flight.id)">
                            <i class="fa-solid fa-cart-shopping"></i> Add to cart
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>